body {
    background-color: #111;
  }

  #clock {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: #fff;
  }

  #date {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 2rem;
    color: #fff;
  }